%table{ style: "border solid 1px black; text-align:center;" }
  %tr
    %th
    - @players.each do |p2|
      %th= p2.name
  - @players.each do |p2|
    %tr
      - @players.each.with_index do |p1,index|
        - if index == 0
          %th= p2.name
        %td
          - if p1 == p2
            %p ー
          - else
            - sum = 0
            - Ticket.where(player_1: p1.id).where(player_2: p2.id).each do |t|
              - sum = sum + t.number_of_set
            %p= sum / @total
