/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-image: image-url("bg.jpg");
}

header {
  width: 100%;
  height: 120px;
  float: left;
  text-align: center;
  background-image: image-url("bg.jpg");
}

.logo {
  width: 150px;
  line-height: 65px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.nav {
  float: left;
  line-height: 120px;
}

.nav_item {
  float: left;
  width: 150px;
  padding: 5px 5px;
}

.container-flued {
  position: relative;
}

.container {
}

.catch_copy_container {
  position: absolute;
  top: 115px;
  left: 45px;
}
.image_container {
  position: relative;
  background-color: #000;

  width: 100%;
  z-index: -1;
  background-repeat: repeat-x;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.top_img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: bottom;
}

.bg_img {
  height: 90%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.top_title {
  color: white;
}

.catch_copy {
  color: white;
}

.ticket_form {
  position: relative;
  width: 90%;
  background-color: black;
  color: white;
  margin: 0 auto;
  margin-bottom: 200px;
}

.ticket_form_title {
  padding-top: 20px;
  text-align: center;
}

.ticket_form_items {
  margin: 10px 0 auto;
  top: 100px;
}

.ticket_form_items table {
  padding-bottom: 30px;
}

.ticket_form_item {
  width: 80%;
  padding: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.simple_form label {
  width: 200px;
  text-align: right;
  margin: 10px;
}

form {
  margin: 0 auto;
}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form div.input input[type="text"], input[type="email"], input[type="number"], select {
  text-align: left;
  font-size: 18px;
  width: 400px;
}

.submit_field {
  text-align: center;
}

.ticket_form_submit {
        -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
        -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
        box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
        color:#333;
        background-color:#BB3B4C;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border:none;
        font-family:'Helvetica Neue',Arial,sans-serif;
        font-size:16px;
        font-weight:700;
        height:40px;
        padding:10px 160px;
}

.player_list table {
  color: white;
  width: 90%;
  border: 2px gray solid;
  margin: 30px auto;
  font-size: 18px;
  border-collapse: collapse;
}

.player_list table td {
  margin: 0;
  padding: 6px 40px;
}

.player_list table th {
  margin: 0;
  padding: 10px 40px;
  color: black;
}

.message {
  color:#BB3B4C;
  text-align: center;
}

.error {
  clear: left;
  font-size: 18px;
  color:#BB3B4C;
  display: block;
}

#second_player {
  display: none;
}
